<template name="healthProfile">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="row">

                    <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">

                        {{#each prescriptions}}

                            <div class="panel panel-default">

                                <div class="panel-heading" style="padding-bottom: 20px">

                                    <b>{{diagnosis}}</b>

                                </div>

                                <div class="panel-body">
                                    <div class="row">

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <b>Date :</b> <span class="text-muted">{{createdAt}}</span>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <center><b>Doctor :</b> <span class="text-muted">{{doctorName}}</span></center>
                                        </div>

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="pull-right"> <b>Medical Center :</b> <span class="text-muted">{{medicalCenterName}}</span></div>
                                        </div>

                                    </div><br>

                                    <b>Medicines :</b><br><br>

                                    <div class="panel panel-default">
                                        <div class="panel-body">

                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th><span class="text-muted">Name</span></th>
                                                    <th><span class="text-muted">Dose</span></th>
                                                    <th><span class="text-muted">Frequency</span></th>
                                                    <th><span class="text-muted">Time</span></th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {{#each drugs}}
                                                    <tr>
                                                        <td>{{name}}</td>
                                                        <td>{{dose}}</td>
                                                        <td>{{frequency}}</td>
                                                        <td>{{time}}</td>
                                                    </tr>
                                                {{/each}}

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                    {{#if report}}
                                        <b>Report : </b><a href="{{report}}">{{report}}</a> <br><br>
                                    {{/if}}

                                    {{#if additionalInfo}}
                                        <b>Additional Info : </b> <p class="text-muted">{{additionalInfo}}</p>
                                    {{/if}}


                                </div>

                            </div>

                        {{/each}}

                    </div>

                </div>

            </div>

        </div>

    </div>

</template>