<template name="healthProfile">

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                        {{#each prescriptions}}

                            <div class="panel panel-default">

                                <div class="panel-heading" style="padding-bottom: 20px">

                                    {{diagnosis}}

                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-default btn-sm" id="view">
                                            <span class="glyphicon glyphicon-eye-open"></span> View
                                        </button>
                                        <button type="button" class="btn btn-default btn-sm" id="delete">
                                            <span class="glyphicon glyphicon-trash"></span> Delete
                                        </button>
                                    </div>
                                </div>

                                <div class="panel-body">
                                    Email Address : <span class="text-muted">{{email}}</span><br><br>
                                    Date Joined : <span class="text-muted">{{createdAt}}</span><br><br>
                                    Address : <span class="text-muted">{{profile.address}}</span>
                                </div>

                            </div>

                        {{/each}}

                    </div>

                </div>

            </div>

        </div>

    </div>

</template>