<template name="patientAnalytics">

    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="well well-sm"><center><h5><b>Most Common Health Issues</b></h5></center></div>
                {{> highchartsHelper chartId="test" chartWidth="100%" charHeight="100%" chartObject=topGenresChart}}
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="well well-sm"><center><h5><b>Recent Visits</b></h5></center></div>

                {{#each prescriptions}}

                    <div class="panel panel-default">

                        <div class="panel-body">

                            <div class="row">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <b>{{createdAt}} :</b> <span class="text-muted">You visited</span> {{medicalCenterName}} <span class="text-muted">and got treatement for</span> {{diagnosis}} by {{doctorName}}.
                                </div>

                            </div>


                        </div>

                    </div>

                {{/each}}
            </div>

        </div>
    </div>

</template>