<template name="allUsers">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="well well-sm"><center><h4><strong>All Users</strong></h4></center></div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                        <div class="well well-sm"><center><h4>Patients</h4></center></div>

                        {{#each users}}

                            {{# if isPatient}}

                                <div class="panel panel-default">

                                    <div class="panel-heading" style="padding-bottom: 20px">

                                        <b>{{profile.firstName}} {{profile.lastName}}</b>

                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-default btn-sm" id="delete">
                                                <span class="glyphicon glyphicon-trash"></span> Delete
                                            </button>
                                        </div>
                                    </div>

                                    <div class="panel-body">
                                        Email Address : <span class="text-muted">{{email}}</span><br><br>
                                        Date Joined : <span class="text-muted">{{createdAt}}</span><br><br>
                                        Contact Number : <span class="text-muted">{{profile.telNo}}</span>
                                    </div>

                                </div>

                            {{/if}}

                        {{/each}}

                    </div>

                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="well well-sm">
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <div class="row">
                                                <div class="col-lg-2 col-lg-offset-6 col-md-2 col-sm-2 col-xs-2">
                                                    <center><h4>Doctors</h4></center>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-default btn-md" id="registry">
                                                    <span class="glyphicon glyphicon-share-alt"></span> SLMC Registry
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        {{#each users}}

                            {{# if isDoctor}}

                                <div class="panel panel-default">

                                    <div class="panel-heading" style="padding-bottom: 20px">

                                        <b>{{profile.initials}} {{profile.familyName}} <span class="text-muted">( SLMC Reg No : {{profile.slmcRegNo}} )</span></b>

                                        <div class="btn-group pull-right">

                                            {{#unless profile.isVerified}}

                                                <button type="button" class="btn btn-default btn-sm" id="verify">
                                                    <span class="glyphicon glyphicon-ok"></span> Verify
                                                </button>

                                            {{/unless}}

                                            {{#if profile.isVerified}}

                                                <button type="button" class="btn btn-default btn-sm" id="unverify">
                                                    <span class="glyphicon glyphicon-remove"></span> Unverify
                                                </button>

                                            {{/if}}

                                            <button type="button" class="btn btn-default btn-sm" id="delete">
                                                <span class="glyphicon glyphicon-trash"></span> Delete
                                            </button>

                                        </div>
                                    </div>

                                    <div class="panel-body">
                                        Email Address : <span class="text-muted">{{email}}</span><br><br>
                                        Qualifications : <span class="text-muted">{{profile.qualifications}}</span><br><br>
                                        Contact Number : <span class="text-muted">{{profile.telNo}}</span><br><br>
                                        NIC Number : <span class="text-muted">{{profile.telNo}}</span><br><br>
                                        Address : <span class="text-muted">{{profile.nicNo}}</span><br><br>
                                        Date Joined : <span class="text-muted">{{createdAt}}</span>
                                    </div>

                                </div>

                            {{/if}}

                        {{/each}}

                    </div>

                </div>

            </div>

        </div>

    </div>

</template>