<template name="login">

    <nav class="navbar navbar-inverse bg-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">MedPack</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">

                <ul class="nav navbar-nav navbar-right">

                    <li ><a href="doctor-register"><i class="fa fa-stethoscope"></i> Register as a Doctor </a></li>

                    <li ><a href="patient-register"><i class="fa fa-user-plus"></i> Register Now </a></li>

                    <li ><a href="user-login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                    <!--<li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li id="editProfile"><a href="edit-profile">Edit Profile</a></li>
                            <li id="editAccount"><a href="edit-account">Edit Account</a></li>
                        </ul>
                    </li>-->

                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
                {{> atForm}}
            </div>
        </div>

    </div>
</template>